<h1>About</h1>

<img src="img/blogpic.png" alt="person looking out through window" class="hero-image" width="981" height="528">


<p style="font-size: 25px;">
    My name is Helmi. I am a Web Developer/Athlete from Indonesia that is currently studying in the U.S. 
    Besides being a web developer, I am currently in the baseball team for Dakota State University, and I am 
    majoring in Computer Science and minoring in Mobile Development Applicaiton. This blog will show parts of my life,
    and what I do to improve as a software engineer and an athlete. To view my achievements and accomplishments, 
    please view my portfolio.
</p>